:root {
    --main: #04155D;
    --grey: #50514F;
    --green: #3d4733;
    --yellow: #c79747;
}

a {
    cursor:pointer;
    color: inherit; 
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

@font-face {
    font-family: brownSugar;
    src: url(fonts/BrownSugar.ttf)
}

@font-face {
    font-family: mirage;
    src: url(fonts/MADEMirage.otf)
}

@font-face {
    font-family: bethany;
    src: url(fonts/Bethany\ Elingston.otf)
}

@keyframes slideInRight {
    from {
        right: -20%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        left: -20%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;          
    }
    100% {
        opacity: 1;
    }
}

@keyframes appearImages {
    from {
        opacity: 0;
        transform: scale(0.4);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInDown {
    0% {
        top: -30%; 
        opacity: 0;
    }
    30% {
        top: 0; 
        opacity: 1;
    }
    70% {
        top: 0; 
        opacity: 1;
    }
    100% {
        top: 0; 
        opacity: 0;
    }
}

@keyframes rotateAndMove {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    25% {
        transform: rotate(-20deg); 
    }
    50% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(0deg) translateX(100vw);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-15deg) scale(1);
    }
    25% {
        transform: rotate(15deg) scale(1.1);
    }
    50% {
        transform: rotate(-15deg) scale(1.1);
    }
    75% {
        transform: rotate(15deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-shadow: 0px 11px 15px -1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 11px 15px -1px rgba(0,0,0,0.07);
    box-shadow: 0px 11px 15px -1px rgba(0,0,0,0.07);
}

.logo_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 10px;
}

.logo {
    width: 70px;
    height: auto;
}

.dropdown_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-right: 40px;
    font-family: mirage, "Times New Roman", sans-serif;
    font-size: 20px ;
    color: #3d4733;
}

.dropdown {
    display: none;
    width: 30px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 5vw;
    padding-bottom: 3vw;
    gap: 3vw;
}

.titles {
    width: 50%;
}

.name {
    font-family: brownSugar;
    font-size: 7vw;
    color: var(--main);
    position: relative;
    animation: slideInRight 2s forwards;
}

.subtitle {
    font-family: mirage;    
    font-size: 2vw;
    margin-top: 0.5vw;
    color: var(--yellow);
    animation: slideInRight 2s forwards;
}

.taps {
    width: 50%;
    height: auto;
    border-radius: 6px;
    -webkit-box-shadow: 7px 7px 27px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 7px 7px 27px 0px rgba(0,0,0,0.11);
    box-shadow: 7px 7px 27px 0px rgba(0,0,0,0.11);
    animation: slideInLeft 2s forwards;
}

.media {
    display: flex;
    flex-direction: row;
    height: min(6vh, 6vw);
    justify-content: center;
    margin-top: 22px;
    gap: 1.5vw;
}

.media_icon1, .media_icon2, .media_icon3 {
    display: inline-block;
    width: min(6vh, 4vw);
    cursor: pointer;
}

.media_icon1 {
    animation: appear 0.8s ease-in-out forwards;; 
}

.media_icon2 {
    animation: appear 1.2s ease-in-out forwards;; 
}

.media_icon3 {
    animation: appear 1.6s ease-in-out forwards;
}

.media_icon_animation {
    display: inline-block;
    width: min(6vh, 4vw);
    height: min(6vh, 4vw);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.media_icon_animation:hover {
    transform: scale(1.1) !important;
    transition: transform 0.3s ease-in-out !important;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 5vw;
}

.about_title {
    font-family: brownSugar;
    font-size: 6vw;
    color: var(--main);
    margin-bottom: 10px;
    position: relative;
    animation: slideInLeft 2s forwards;
}

.about_text {
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-weight: 100;
    font-size: min(18px, 1.8vw);
    text-align: justify;
    color: #1a1f16
}

.about_text a {
    color: var(--main);
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25vw;
    gap: 10vw;
}

.image1 {
    height: 21vw;
    border: 5px solid;
    border-color: #edcc55;
    border-radius: 3px;
    animation: appearImages 1s forwards;
}

.image2 {
    height: 21vw;
    border: 5px solid;
    border-color: #738d55;
    border-radius: 3px;
    margin-top: 3vw;
    animation: appearImages 1.5s forwards;
}

.image3 {
    height: 21vw;
    border: 5px solid;
    border-color: var(--main);
    border-radius: 3px;
    animation: appearImages 2s forwards;
}

.gallery_title {
    font-family: brownSugar; 
    font-size: 6vw;
    color: var(--main);
    position: relative;
    animation: slideInLeft 2s forwards;
    margin-left: 5vw;
}

.gallery {
    margin-left: 5vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-items: center;
    justify-content: center;
    gap: 2vw
}

.photo {
    width: 40vw;
    height: 30vw; 
    object-fit: contain;
}

.forwards {
    width: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.forwards:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.forwards:active {
    transform: translate(0,5px);
    transition: transform 0.15s ease-in-out;
}

.backwards {
    width: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.backwards:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.backwards:active {
    transform: translate(0,5px);
    transition: transform 0.15s ease-in-out;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    width: 100vw;
    background-color: var(--main);
    -webkit-box-shadow: -1px -13px 72px -38px rgba(0,0,0,1);
    -moz-box-shadow: -1px -13px 72px -38px rgba(0,0,0,1);
    box-shadow: -1px -13px 72px -38px rgba(0,0,0,1);   
}

.contact_title {
    font-family: brownSugar;
    font-size: 6vw;
    margin-left: 5vw;
    margin-top: 5vw;
    color: #ffffff;
    position: relative;
    animation: slideInLeft 2s forwards;
}

.contact_text {
    font-family: mirage, sans-serif;
    font-weight: 100;
    font-size: min(18px, 1.8vw);
    text-align: justify;
    color: #ffffff;
    margin-left: 5vw;
    margin-right: 5vw;
}

.contact_form {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-left: 5vw;
    gap: 2vw;
}

.name_input {
    width: 25vw;
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;
    height: max(2.5vw,3vh);
    padding-left: 15px;
}

.name_input:disabled {
    background-color: #ffffffb6;
}

.email_input {
    width: 25vw;
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;
    height: max(2.5vw,3vh);
    padding-left: 15px;
}

.email_input:disabled {
    background-color: #ffffffb6;
}

.message_input {
    width: 88vw;
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;
    height: max(5vw,6vh);
    padding:15px;
}

.message_input:disabled {
    background-color: #ffffffb6;
}

.submit_button {
    all: unset;
    width: 5vw;
    background: none;
    border: none;
    margin-right: 5vw;
    padding: 0;
    align-self: center;
    transition: transform 0.3s ease-in-out;
}

.submit_button:hover {
    cursor: pointer;
    filter: grayscale(100%);
}

.submit_button_icon {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

input::placeholder {
    color: var(--main); 
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.7; 
}

.message {
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    animation: slideInDown 4s forwards;
    position: relative; 
    text-align: center;
    color: white;
    font-size: 16px;
  }

.message_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
}  

.submit_button_sent {
    animation: rotateAndMove 2s forwards ease-out;
}

.submit_button_not_sent {
    animation: rotate 1.2s forwards ease-out;
}

.footer {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
}

.footer_text {
    margin-bottom: 8px;
    font-family: 'Courier New';
    font-size: min(15px, 1.8vw);
    color: #ffffff;
}

@media (max-width: 600px) {
    .logo_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50px;
        margin-left: 10px;
    }
    
    .logo {
        width: 50px;
        height: auto;
    }
    
    .dropdown_container {
        display: none;
    }

    .dropdown {
        display: block;
        width: 30px;
        height: auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 5vw;
        justify-content: left;
        gap: 3vw;
        margin-bottom: 0;
    }
    
    .titles {
        width: 100%;
    }
    
    .name {
        font-family: brownSugar;
        font-size: 8.5vh;
        color: var(--main);
        position: relative;
        animation: slideInRight 2s forwards;
    }

    .taps {
        width: 100%;
        height: auto;
        border-radius: 6px;
        -webkit-box-shadow: 7px 7px 27px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 7px 7px 27px 0px rgba(0,0,0,0.11);
        box-shadow: 7px 7px 27px 0px rgba(0,0,0,0.11);
        animation: slideInLeft 2s forwards;
    }

    .media {
        display: flex;
        flex-direction: row;
        height: 6vw;
        justify-content: center;
        gap: 1.5vw;
    }
    
    .media_icon1, .media_icon2, .media_icon3 {
        display: inline-block;
        width: 8vw;
        height: auto;
        cursor: pointer;
    }

    .subtitle {
        width: 100%;
        font-family: mirage;    
        font-size: 2vh;
        margin-top: 0.5vw;
        color: var(--yellow);
        animation: slideInRight 2s forwards;
    }

    .about_title {
        font-family: brownSugar;
        font-size: 12vw;
        color: var(--main);
        position: relative;
        margin-top: 10px;
        animation: slideInLeft 2s forwards;
    }

    .media {
        display: flex;
        flex-direction: row;
        height: 4vh;
        justify-content: center;
        margin-top: 10px;
        gap: 5vw;
    }
    
    .media_icon1 {
        width: 4vh;
        animation: appear 0.8s forwards; 
    }
    
    .media_icon2 {
        width: 4vh;
        animation: appear 1.2s forwards; 
    }
    
    .media_icon3 {
        width: 4vh;
        animation: appear 1.6s forwards; 
    }

    .about_text {
        font-family: Georgia, 'Times New Roman', sans-serif;
        font-weight: 100;
        font-size: 4vw;
        text-align: justify;
        color: #1a1f16
    }
    
    .about_text a {
        color: var(--main);
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 30vh;
        gap: 10vw;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .image1 {
        height: 30vh;
        border: 5px solid;
        border-color: var(--main);
        border-radius: 3px;
        animation: appearImages 1s forwards;
    }
    
    .image2 {
        display: none;
    }
    
    .image3 {
        display: none;
    }

    .gallery_title {
        font-family: brownSugar;
        font-size: 12vw;
        color: var(--main);
        position: relative;
        margin-top: 20px;
        animation: slideInLeft 2s forwards;
    }
    
    .photo {
        margin-top: 15px;
        width: 60vw;
        height: 70vw; 
        object-fit: contain;
    }

    .forwards {
        margin-left: 20px;
    }
    
    .backwards {
        margin-right: 20px;
    }

    .contact_title {
        font-family: brownSugar;
        font-size: 12vw;
        color: #ffffff;
        position: relative;
        margin-top: 20px;
        animation: slideInLeft 2s forwards;
    }

    .name_input {
        width: 60vw;
        font-size: 14px;
        padding-left: 6px;
    }
    
    .email_input {
        width: 60vw;
        font-size: 14px;
        padding-left: 6px;
    }
    
    .message_input {
        width: 80vw;
        font-size: 14px;
        padding-left: 6px;
        padding-top: 6px;
    }

    .contact_form {
        display: flex;
        flex-direction: column;
        margin-top: 4vw;
        margin-left: 5vw;
        gap: 5vw;
    }

    .submit_button {
        width: 14vw;
    }

    .footer {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: flex-end;
        padding: 5px
    }
    
    .footer_text {
        margin-bottom: 8px;
        font-family: 'Courier New';
        font-size: 13px;
        color: #ffffff;
    }
}